Repository hyosangs/TartanAdventure-master-2team, pull requests merged in 2018-07, with the labels that each got.

#356 Develop 20180718 sungsoo
  src/edu/cmu/tartan/Main.java
  src/edu/cmu/tartan/PrintMessage.java
  src/edu/cmu/tartan/item/Item.java
  src/edu/cmu/tartan/item/ItemClayPot.java
  src/edu/cmu/tartan/item/ItemFridge.java
  src/edu/cmu/tartan/item/ItemKeycardReader.java
  src/edu/cmu/tartan/item/ItemLock.java
  src/edu/cmu/tartan/item/ItemMicrowave.java
  src/edu/cmu/tartan/item/ItemSafe.java
  tests/edu/cmu/tartan/item/ItemBrickTest.java
  tests/edu/cmu/tartan/item/ItemButtonTest.java
  tests/edu/cmu/tartan/item/ItemClayPotTest.java
  tests/edu/cmu/tartan/item/ItemCoffeeTest.java
  tests/edu/cmu/tartan/item/ItemComputerTest.java
  tests/edu/cmu/tartan/item/ItemDeskLightTest.java
  tests/edu/cmu/tartan/item/ItemDiamondTest.java
  tests/edu/cmu/tartan/item/ItemDocumentTest.java
  tests/edu/cmu/tartan/item/ItemDynamiteTest.java
  tests/edu/cmu/tartan/item/ItemFlashlightTest.java
  tests/edu/cmu/tartan/item/ItemFolderTest.java
  tests/edu/cmu/tartan/item/ItemFoodTest.java
  tests/edu/cmu/tartan/item/ItemFridgeTest.java
  tests/edu/cmu/tartan/item/ItemGoldTest.java
  tests/edu/cmu/tartan/item/ItemKeyTest.java
  tests/edu/cmu/tartan/item/ItemKeycardReaderTest.java
  tests/edu/cmu/tartan/item/ItemKeycardTest.java
  tests/edu/cmu/tartan/item/ItemLadderTest.java
  tests/edu/cmu/tartan/item/ItemLockTest.java
  tests/edu/cmu/tartan/item/ItemMagicBoxTest.java
  tests/edu/cmu/tartan/item/ItemMicrowaveTest.java
  tests/edu/cmu/tartan/item/ItemSafeTest.java
  tests/edu/cmu/tartan/item/ItemShovelTest.java
  tests/edu/cmu/tartan/item/ItemTest.java
  tests/edu/cmu/tartan/item/ItemTorchTest.java
  tests/edu/cmu/tartan/item/ItemUnknownTest.java
  tests/edu/cmu/tartan/item/ItemVendingMachineTest.java
  tests/edu/cmu/tartan/room/RoomTest.java
Labels: Static analysis, Unit Test

#364 Item & Room Package Unit Test update.
  build.xml
  lib/byte-buddy-1.8.10.jar
  lib/byte-buddy-agent-1.8.10.jar
  lib/objenesis-2.6.jar
  src/edu/cmu/tartan/item/Item.java
  src/edu/cmu/tartan/item/ItemButton.java
  src/edu/cmu/tartan/item/ItemClayPot.java
  src/edu/cmu/tartan/item/ItemCoffee.java
  src/edu/cmu/tartan/item/ItemDynamite.java
  src/edu/cmu/tartan/item/ItemFolder.java
  src/edu/cmu/tartan/item/ItemFood.java
  src/edu/cmu/tartan/item/ItemFridge.java
  src/edu/cmu/tartan/item/ItemKeycardReader.java
  src/edu/cmu/tartan/item/ItemMicrowave.java
  src/edu/cmu/tartan/item/ItemSafe.java
  src/edu/cmu/tartan/item/ItemVendingMachine.java
  src/edu/cmu/tartan/room/Room.java
  src/edu/cmu/tartan/room/RoomElevator.java
  src/edu/cmu/tartan/room/RoomExcavatable.java
  src/edu/cmu/tartan/room/RoomLockable.java
  tests/edu/cmu/tartan/LGTestRunnerJUnit.java
  tests/edu/cmu/tartan/item/ItemButtonTest.java
  tests/edu/cmu/tartan/item/ItemClayPotTest.java
  tests/edu/cmu/tartan/item/ItemCoffeeTest.java
  tests/edu/cmu/tartan/item/ItemDynamiteTest.java
  tests/edu/cmu/tartan/item/ItemFolderTest.java
  tests/edu/cmu/tartan/item/ItemFoodTest.java
  tests/edu/cmu/tartan/item/ItemFridgeTest.java
  tests/edu/cmu/tartan/item/ItemKeycardReaderTest.java
  tests/edu/cmu/tartan/item/ItemLockTest.java
  tests/edu/cmu/tartan/item/ItemMicrowaveTest.java
  tests/edu/cmu/tartan/item/ItemSafeTest.java
  tests/edu/cmu/tartan/item/ItemTest.java
  tests/edu/cmu/tartan/item/ItemVendingMachineTest.java
  tests/edu/cmu/tartan/room/RoomDarkTest.java
  tests/edu/cmu/tartan/room/RoomElevatorTest.java
  tests/edu/cmu/tartan/room/RoomExcavatableTest.java
  tests/edu/cmu/tartan/room/RoomLockableTest.java
  tests/edu/cmu/tartan/room/RoomObscuredTest.java
  tests/edu/cmu/tartan/room/RoomRequiredItemTest.java
  tests/edu/cmu/tartan/room/RoomTest.java
Labels: Unit Test

#371 add test function of PlayerInterpreter
  src/edu/cmu/tartan/PlayerInterpreter.java
  tests/edu/cmu/tartan/PlayerInterpreterTest.java
Labels: Unit Test

#400 [Implementation] Implement save and load
  src/edu/cmu/tartan/Game.java
  src/edu/cmu/tartan/Player.java
  src/edu/cmu/tartan/room/Room.java
  src/edu/cmu/tartan/util/ReadFile.java
  src/edu/cmu/tartan/util/ReadFileInterface.java
  src/edu/cmu/tartan/util/WriteFile.java
  src/edu/cmu/tartan/util/WriteFileInterface.java
Labels: enhancement
